### Recommendations with MovieTweetings: Getting to Know The Data

Throughout this lesson, you will be working with the [MovieTweetings Data](https://github.com/sidooms/MovieTweetings/tree/master/recsyschallenge2014).  To get started, you can read more about this project and the dataset from the [publication here](http://crowdrec2013.noahlab.com.hk/papers/crowdrec2013_Dooms.pdf).

**Note:** There are solutions to each of the notebooks available by hitting the orange jupyter logo in the top left of this notebook.  Additionally, you can watch me work through the solutions on the screencasts that follow each workbook. 

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline

# Read in the datasets
movies = pd.read_csv('https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/movies.dat', delimiter='::', header=None, names=['movie_id', 'movie', 'genre'], dtype={'movie_id': object}, engine='python')
reviews = pd.read_csv('https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/ratings.dat', delimiter='::', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'], dtype={'movie_id': object, 'user_id': object, 'timestamp': object}, engine='python')

#### 1. Take a Look At The Data 

Take a look at the data and use your findings to fill in the dictionary below with the correct responses to show your understanding of the data.

In [2]:
# cell for work
movies.head()

,movie_id,movie,genre
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,0000010,La sortie des usines Lumière (1895),Documentary|Short
2,0000012,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,0000091,Le manoir du diable (1896),Short|Horror

In [4]:
# cell for work
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33922 entries, 0 to 33921
Data columns (total 3 columns):
movie_id    33922 non-null object
movie       33922 non-null object
genre       33632 non-null object
dtypes: object(3)
memory usage: 795.1+ KB

In [5]:
#
reviews.head()

  user_id movie_id  rating   timestamp
0       1  0111161      10  1373234211
1       1  0117060       7  1373415231
2       1  0120755       6  1373424360
3       1  0317919       6  1373495763
4       1  0454876      10  1373621125

In [6]:
# number of movies
movies.shape

(33922, 3)

In [7]:
# the number of ratings
reviews.shape

(798074, 4)

In [12]:
# the number of genres
genre_values = []
for genre in movies.genre:
    try:
        genre_values.extend(genre.split('|'))
    except:
        pass
genres = set(genre_values)
print(len(genres))

28

In [10]:
#The number of unique users in the dataset'
reviews.user_id.nunique()

58911

In [12]:
#The number missing ratings in the reviews dataset
reviews.rating.isna().sum()

0

In [14]:
reviews.rating.mean()

7.3012891035167167

In [15]:
reviews.rating.max()

10

In [16]:
reviews.rating.min()

0

In [ ]:
# Use your findings to match each variable to the correct statement in the dictionary


dict_sol1 = {
'The number of movies in the dataset': movies.shape,
'The number of ratings in the dataset':reviews.shape
'The number of different genres':
'The number of unique users in the dataset':
'The number missing ratings in the reviews dataset':
'The average rating given across all ratings':
'The minimum rating given across all ratings':
'The maximum rating given across all ratings':
}

# Originally, I had this to check your solution, but the 
# links are live and updating.  That didn't end up being
# a great idea

#### 2. Data Cleaning

Next, we need to pull some additional relevant information out of the existing columns. 

For each of the datasets, there are a couple of cleaning steps we need to take care of:

#### Movies
* Pull the date from the title and create new column
* Dummy the date column with 1's and 0's for each century of a movie (1800's, 1900's, and 2000's)
* Dummy column the genre with 1's and 0's

#### Reviews
* Create a date out of time stamp

You can check your results against the header of my solution by running the cell below with the **show_clean_dataframes** function.

In [7]:
#def create_date(title):
movies['date'] = movies.movie.str.extract(pat = '.*([1-3][0-9]{3})')
movies.head()

,movie_id,movie,genre,date
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894
1,0000010,La sortie des usines Lumière (1895),Documentary|Short,1895
2,0000012,The Arrival of a Train (1896),Documentary|Short,1896
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895
4,0000091,Le manoir du diable (1896),Short|Horror,1896

In [10]:
for year in ["18", "19", "20"]:
    movies[str(year)+"00's"] = movies['date'].apply(lambda x:1 if year in x else 0)
movies.head()

,movie_id,movie,genre,date,1800's,1900's,2000's
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0
1,0000010,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0
2,0000012,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0
4,0000091,Le manoir du diable (1896),Short|Horror,1896,1,0,0

In [13]:
# Function to split and return values for columns
def split_genres(val):
    try:
        if val.find(gene) >-1:
            return 1
        else:
            return 0
    except AttributeError:
        return 0

# Apply function for each genre
for gene in genres:        
    movies[gene] = movies['genre'].apply(split_genres)

In [14]:
movies.head()

,movie_id,movie,genre,date,1800's,1900's,2000's,Mystery,Film-Noir,Crime,...,Adult,Romance,News,Horror,Fantasy,Documentary,Sci-Fi,Talk-Show,Game-Show,Biography
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0000010,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0000012,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0000091,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [15]:
import datetime

change_timestamp = lambda val: datetime.datetime.fromtimestamp(int(val)).strftime('%Y-%m-%d %H:%M:%S')

reviews['date'] = reviews['timestamp'].apply(change_timestamp)

In [16]:
# now reviews and movies are the final dataframes with the necessary columns
reviews.to_csv('./reviews_clean.csv')
movies.to_csv('./movies_clean.csv')

In [17]:
reviews_new, movies_new = t.show_clean_dataframes()

   Unnamed: 0  user_id  movie_id  rating   timestamp                 date
0           0        1    111161      10  1373234211  2013-07-07 21:56:51
1           1        1    117060       7  1373415231  2013-07-10 00:13:51
2           2        1    120755       6  1373424360  2013-07-10 02:46:00
3           3        1    317919       6  1373495763  2013-07-10 22:36:03
4           4        1    454876      10  1373621125  2013-07-12 09:25:25
   Unnamed: 0  movie_id                                              movie  \
0           0         8      Edison Kinetoscopic Record of a Sneeze (1894)
1           1        10                La sortie des usines Lumière (1895)
2           2        12                      The Arrival of a Train (1896)
3           3        25  The Oxford and Cambridge University Boat Race ...
4           4        91                         Le manoir du diable (1896)

               genre  date  1800's  1900's  2000's  Mystery  Film-Noir  \
0  Documentary|Short  1894       1       0       0        0          0
1  Documentary|Short  1895       1       0       0        0          0
2  Documentary|Short  1896       1       0       0        0          0
3                NaN  1895       1       0       0        0          0
4       Short|Horror  1896       1       0       0        0          0

     ...      Adult  Romance  News  Horror  Fantasy  Documentary  Sci-Fi  \
0    ...          0        0     0       0        0            1       0
1    ...          0        0     0       0        0            1       0
2    ...          0        0     0       0        0            1       0
3    ...          0        0     0       0        0            0       0
4    ...          0        0     0       1        0            0       0

   Talk-Show  Game-Show  Biography
0          0          0          0
1          0          0          0
2          0          0          0
3          0          0          0
4          0          0          0

[5 rows x 36 columns]